@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 640px) {
  /* sm */
  .container {
    padding-inline: 2rem;
  }
}

@media (min-width: 768px) {
  /* md */
  .container {
    padding-inline: 3rem;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .container {
    padding-inline: 4rem;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .container {
    padding-inline: 5rem;
  }
}

@media (min-width: 1536px) {
  /* 2xl */
  .container {
    padding-inline: 7rem;
  }
}
